.navbar {
display: flex;
justify-content: space-between;
align-items: center;
font-family: Montserrat;
color: red;
/* margin-left: 20px;
margin-right: 20px; */

    .right {
        display: flex;
        justify-content: center;
        align-items: flex-end;

            a {
                justify-content: flex-end;
                margin-left: 15px;
                font-size: 20px;
            }
    }

    & a,
    & a:visited,
    & a:active,
    & a:focus {
    text-decoration: none;
    color: inherit;
    }

}


