.infosHote {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 768px ){
    
    .infosHote{
        display: flex;
        flex-direction: column;
    }

}